<h1>
  Hello, {{dear name}} thank you for using emailplate
</h1>
<h2>
  Hello, {{dear name}} thank you for using emailplate
</h2>
<h3>
  Hello, {{dear name}} thank you for using emailplate
</h3>